---
import type { CollectionEntry } from 'astro:content';
import Content from '~/components/widgets/Content.astro';

interface Props {
  caseStudy: CollectionEntry<'case-studies'>['data'];
  tagline?: string;
  isReversed?: boolean;
  id?: string;
}

const { caseStudy, tagline = 'Case study', isReversed = true, id } = Astro.props;
---

<Content id={id} isReversed={isReversed} tagline={tagline} items={caseStudy.items} image={caseStudy.image}>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{caseStudy.title}</h3>
    {caseStudy.excerpt}
  </Fragment>
</Content>
