---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  image = await Astro.slots.render('image'),
  items = [],
  columns = 3,
  defaultIcon,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const columnsClass =
  columns === 4
    ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
    : columns === 3
      ? 'lg:grid-cols-3 sm:grid-cols-2'
      : columns === 2
        ? 'sm:grid-cols-2'
        : '';
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  {
    image && (
      <div class="relative m-auto max-w-5xl mb-8 md:mb-12 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        {typeof image === 'string' ? (
          <Fragment set:html={image} />
        ) : (
          <Image
            class="mx-auto w-full rounded-lg shadow-lg"
            widths={[400, 768, 1024]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, 1024px"
            width={1024}
            height={576}
            layout="responsive"
            format="webp"
            {...image}
          />
        )}
      </div>
    )
  }

  {
    items.length > 0 && (
      <div class:list={['grid gap-4 md:gap-6 gap-x-12', columnsClass]}>
        {items.map(({ title: itemTitle, description, icon, callToAction }) => (
          <div class="relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6 intersect-once intersect-quarter intersect-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
            {(icon || defaultIcon) && <Icon name={icon || defaultIcon} class="mb-6 w-12 h-12 text-primary" />}
            <h3 class="text-xl font-bold">{itemTitle}</h3>
            {description && <p class="text-muted mt-2" set:html={description} />}
            {callToAction && (
              <div class="mt-2">
                <Button {...callToAction} />
              </div>
            )}
          </div>
        ))}
      </div>
    )
  }
</WidgetWrapper>
