---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getEntry } from 'astro:content';

const page = await getEntry('pages', 'domains');
if (!page) throw new Error('Missing page entry: domains');
const { metadata, hero, domains, whyTheseDomains, cta } = page.data as Required<typeof page.data>;
---

<Layout metadata={metadata}>
  <Hero
    tagline={hero.tagline}
    title={hero.title}
    subtitle={hero.subtitle}
  />

  <Features3
    title={domains.title}
    subtitle={domains.subtitle}
    columns={domains.columns}
    items={domains.items}
  />

  <Content
    isReversed={whyTheseDomains.isReversed}
    items={whyTheseDomains.items}
    image={whyTheseDomains.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{whyTheseDomains.contentHeading}</h3>
      {whyTheseDomains.contentBody}
    </Fragment>
  </Content>

  <CallToAction
    actions={cta.actions}
    title={cta.title}
    subtitle={cta.subtitle}
  />
</Layout>
